services:
  app:
    build: .
    image: vz-wiki-frontend-local
    ports:
      - "3001:8080"
    env_file:
      - .env.local
    environment:
      AWS_PROFILE: mfa-session
      AWS_SDK_LOAD_CONFIG: "1"
      AWS_REGION: ap-southeast-1
    volumes:
      - ~/.aws:/root/.aws:ro
  app-dev:
    image: node:18-alpine
    working_dir: /app
    # Mount your source into the container so changes are live
    volumes:
      - .:/app
      # keep node_modules inside container so host/ARM vs container binaries don't fight
      - /app/node_modules
      - ~/.aws:/root/.aws:ro
    environment:
      NODE_ENV: development
      AWS_REGION: ap-southeast-1
      AWS_PROFILE: mfa-session
      AWS_SDK_GOOD_CONFIG: "1"
    env_file:
      - ./.env.local
    command: sh -c "npm install && npm run dev -- --hostname 0.0.0.0 --port 3001"
    ports:
      - "3001:3001"